.App {
  text-align: center;
}

.App-logo {
  height: 5rem;
  pointer-events: none;
}

.titleCard {
  text-align: center;
  font-size: 5rem;
}
.blueRow {
  background-color: royalblue;
  border-color: darkblue;
  border-width: 1px;
  border-radius: 0.5rem;
  border-style: solid;
  margin: 0.1rem;
  padding-top: 0.25rem;
  text-align: center;
  color: white;
  font-size: 1.5rem;
}
.bigP{
  font-size: 2rem;
  background-color: rgb(65, 105, 225);
}
.bigP:hover, .bigP:focus, .bigP:active{
  background-color: rgb(65, 85, 255);
}

.prodName {
  text-align: left;
}
.products {
  font-size: 3rem;
  font-weight: 700;
}
.homeRow > div,
.homebtn,
.cartbtn,
.titleCardContainer {
  border: 1px solid;
  border-collapse: collapse;
}
.homeRow {
  height: 100%;
}
body {
  height: 100%;
}
.spListDesc {
  border-radius: 0.5rem;
  border: 1px solid;
  color: white;
  background-color: royalblue;
  width: 30%;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
}
.spListDescAdd{
  margin-top: 33%;
}
