.App {
  text-align: center;
}

.App-logo {
  height: 5rem;
  pointer-events: none;
}

.titleCard{
  
  text-align: center;
  font-size: 5rem;
}
.blueRow{
  background-color: darkcyan;
  border-color: darkslategray;
  border-width: .5rem;
  border-radius: .5rem;
  border-style: solid;
  margin: .5rem;
  padding-top: .25rem;
  text-align: center;
  color: white;

}
.prodName{
  text-align: left;
}
